@import "bootstrap";
@import "bootstrap-icons";

body {
  background-color: $dark;
  height: 100vh;
  font-size: 1.2rem;
}

ul {
  padding: 0;
  margin: 0;
}

.game-wrapper {
  padding: 5rem 0.5rem;

  @include media-breakpoint-up(lg) {
    padding: 10rem 1.5rem;
  }
  .code {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 3rem;
  }
  
  .notification {
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    height: 100px;
  }
  
  .results {
    .result-header, .result-row {
      display: flex;
      justify-content: space-between;
    }
  }
}
